@define-color selected-text #CBA6F7;
@define-color text #CDD6F4;
@define-color base #1E1E2E;
@define-color border #45485F;
@define-color foreground #CDD6F4;
@define-color background #1E1E2E;
@define-color hover #737896;
@define-color accent #CBA6F7;

window {
  background: transparent;
  border-radius: 14px;
}

window .box-wrapper {
  background: alpha(@background, 0.89);
  color: @text;
}
