[Desktop Entry]
Name=Screen Capture
Comment=Screen Capture Walker Menu
Exec=calos-walker-launch middle
Terminal=false
Type=Application
Icon=capturefix
Categories=record;screenshot;
StartupNotify=false
