@define-color selected-text #85abbc;
@define-color text #dcd6d6;
@define-color base #232829;
@define-color border #788587ac;
@define-color foreground #dcd6d6;
@define-color background #232829ac;
@define-color hover #8c92a3;           
@define-color accent #39515A;   

window {
  background: transparent;
  border-radius: 14px;
}

window .box-wrapper {
  background: alpha(@background, 0.99);
  color: @text;
}
