@import "../colors.css";

/* theme switcher */

#custom-user label {
	padding-right: 12px;
  padding-left: 8px;
	font-weight: normal;
  color: @accent;
}

#custom-menu_open label {
	font-weight: bold;
  color: @accent;
  font-size: 20px;
}


/* workspaces */

#workspaces {
    padding: 0 1px;
    background: transparent;
}

#workspaces button {
    min-width: 36px;
    padding: 0;
    margin: 0 3px;
    background: transparent;
    border: none;
    box-shadow: none;
}

#workspaces button label {
    font-size: 14px;
    color: @accent;
    background: transparent;
}

/* empty workspaces */

#workspaces button.empty {
    background: @background;
    border: none;
    box-shadow: none;
}

#workspaces button.empty label {
    padding: 0;
    font-size: 14px;
    margin: 0 3px;
    border-radius: 8px;
    color: @temperature;
    background: @background;
}

/* active workspace */

#workspaces button.active {
    background: transparent;
    border: none;
    box-shadow: none;
}

#workspaces button.active label {
    font-size: 19px;
    color: @accent;
    background: transparent;
    transition: all 0.2s ease-in-out;
    min-width: 3px;
    border-radius: 12px;
}

/* hover */

#workspaces button:hover {
    color: @accent;
    background: @background;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

#workspaces button:hover label {
    background: transparent;
}
/* window title & count */

#window {
	margin-left: 12px;
}
#window label {
	font-weight: normal;
}
#windowcount {
	margin-right: 12px;
}
#windowcount label {
	color: @hover-fg;
}
