@import "styles/modules-center.css";
@import "styles/modules-left.css";
@import "styles/modules-right.css";
@import "theme.css";
@import "../calos/current/theme/waybar.css";

* {
  font-family: 'JetBrainsMono Nerd Font';
	font-size: 15px;
	color: @main-fg;
}

/* main outline */

window#waybar {
	background-color: #1C2128;
  border-radius: 6px;
}

/* main background */

window#waybar > box {
	margin: 4px;
	background-color: @background;
}

/* hoverables */

#custom-theme_switcher:hover,
#idle_inhibitor:hover,
#clock.date:hover,
#network:hover,
#bluetooth:hover,
#custom-system_update:hover,
#mpris:hover,
#pulseaudio:hover {
	color: @hover-fg;
}

/* states */

.warning { color: @warning; }
.critical { color: @critical; }
.charging { color: @charging; }
.muted { color: @hover-fg; }

/* dividers */

#custom-left_div,
#custom-left_inv,
#custom-right_div,
#custom-right_inv {
	font-size: 23.1px;
}

/* buttons */

button {
	border-radius: 16px;
	padding: 0 10px;
}
button:hover {
	background-color: @hover-bg;
	color: @hover-fg;
}

/* tooltips */

tooltip {
	border: 2px solid @accent;
	border-radius: 10px;
	background-color: @background;
}
tooltip label {
	margin: 2px 4px;
	font-weight: normal;
}
tooltip decoration {
	border: none;
	background-color: transparent;
}

/* right-module-options */

#network{
    transition: all .3s ease;
    padding: 0 12px;
    background-color: @temperature;
}
#bluetooth{
transition: all .3s ease;
padding: 0 12px;
background-color: @temperature;
}
#pulseaudio{
    transition: all .3s ease;
    padding: 0 12px;
    background-color: @temperature;
}
#mpris{
    transition: all .3s ease;
    padding: 0 12px;
}
#submap{
    transition: all .3s ease;
    background-color: @temperature;
        padding: 0 12px;
  }
#custom-system_update{
    transition: all .3s ease;
    padding: 0 12px;
    background-color: @temperature;
}
#custom-screenrecording-indicator{
    transition: all .3s ease;
    padding: 0 12px;
    background-color: @temperature;
}

#cava {
    transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
    opacity: 1;
    padding-left: 10px;
    padding-right: 20px;
    letter-spacing: 0px;
}

#cava.silent {
    transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    opacity: 0;
    padding-left: 0px;
    padding-right: 0px;
    letter-spacing: -14px; 
  }
